# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем кэш pytest
.pytest_cache/

# Игнорируем файлы базы данных (если появятся)
*.sqlite

# Игнорируем виртуальное окружение (если ты его создашь)
venv/
.env
